<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EmployeesCrud</display-name>
	<servlet>
		<description>
		</description>
		<display-name>InsertServlet</display-name>
		<servlet-name>InsertServlet</servlet-name>
		<servlet-class>com.controller.InsertServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListEmployeesServlet</display-name>
		<servlet-name>ListEmployeesServlet</servlet-name>
		<servlet-class>com.controller.ListEmployeesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditServlet</display-name>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.controller.EditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.controller.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidationServlet</display-name>
		<servlet-name>ValidationServlet</servlet-name>
		<servlet-class>com.controller.ValidationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegistrationServlet</display-name>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertServlet</servlet-name>
		<url-pattern>/InsertServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListEmployeesServlet</servlet-name>
		<url-pattern>/ListEmployeesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/EditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidationServlet</servlet-name>
		<url-pattern>/ValidationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
